.main-body{
    background-color: gainsboro;
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-left: 5%;
}
.exercise-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 30px;
}
.profile-container{
    position: sticky;
    top: 10px;
    padding: 5%;
    background-color: white;
  
}

.blog{
    background-color: white;
    margin-right: 2%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 20px;
    border-radius: 20px;
    padding-top: 20px;
}
.blog h1{
    text-align: center;
}

@media screen and (max-width: 480px) {
    .main-body{
        display: grid;
        grid-template-columns: 4fr;
    }
    .exercise-container{
        display: grid;
        grid-template-columns: 4fr;
        margin-right: 5%;
    }

    .profile-container{
        padding-right: 5%;
        margin-right: 5%;
      
    }
    .blog{
        margin-right: 5%;
        margin-bottom: 20px;
    }
}